@font-face {
    font-family: Geom;
    src:url("../fonts/geom.ttf");
}

@font-face {
    font-family: soft;
    src:url("../fonts/soft.ttf");
}

:root {
    --main: rgb(236, 236, 236);
    --obscure: #1d1d1b;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Geom";
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,216,254,1) 32%, rgba(255,227,213,1) 100%);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


/* ENCABEZADO */
header{
    width:100%;
    margin:auto;
    padding: 0rem;
    background-color: #fffcfb;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.22);
    margin-bottom: 1rem;
}


/* FLEX DEL DIV PRINCIPAL DEL ENCABEZADO */
header>div{
    padding:1rem;
    display: flex;
    flex-direction: row;
}


/* CENTRADO DE TODOS LOS ELEMENTOS DEL ENCABEZADO */
header>div>div>*, header>div>div>div>*{
    margin: auto;
}


/* SEGUNDO ELEMENTO (LARGO) DEL DIV DEL ENCABEZADO */
header>div>div:nth-child(2), header>div>div:nth-child(2)>*{
    width: 100%;
    display: flex;
}

header>div>div:nth-child(2)>div{
    font-size: 1rem;
    margin: 0 8rem;
}

.item>a,.item>a:visited{
    font-family: "soft";
    font-size: 1.2vw;
    letter-spacing:0.06rem;
    text-decoration: none;
    color: #6e6e6e;
    transition: all 0.5s ease-in-out;
}

.item>a:hover{
    color: rgb(54, 54, 54);
    letter-spacing: 0.12rem;
    font-size: 1.25vw;
    transition: all 0.5s ease-in-out;
}


/* ESPACIADO DEL LOGOUT */
header>div>div:nth-child(3){
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

.colorfull{
    width: 100%;
    height: 0.75rem;
    background: rgb(180,104,255);
    background: linear-gradient(90deg, rgba(180,104,255,1) 0%, rgba(255,165,119,1) 100%);
}

.white{
    width: 100%;
    height: 3rem;
    background-color: var(--main);
}


#logo{
    margin-left: 1.5rem;
    width: 5.5rem;
}

#logout{
    width: 2.5rem;
}

section{
    color:#6e6e6e;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#title{
    display: inline-block;
    text-align: center;
    color: #1d1d1b;
}

section p{
    font-size: 1.2vw;
    font-family: "soft";
    letter-spacing:0.06rem;
    line-height: 1.8rem;
}

#imagebig{
    margin: auto;
    width: 75%;
    opacity: 90%;
}

#members{
    width: 90%;
}

#members img{
    width: 100%;
    margin-bottom: 0.5rem;
}

#members h3, #members h4{
    margin: 0.3rem;
    text-align: center;
    color: #2e2e2e;
}

.grid-container{
    margin: auto;
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 4%;
}

.grid-item{
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.45);
    display: flex;
    transition: all 0.5s ease-in-out;
}

.grid-item:hover{
    transform: translateY(-0.3rem);
    background-color: #fff2ef;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.65);
    transition: all 0.5s ease-in-out;
}


#news h1{
    text-align: center;
    margin: auto;
    width: 60%;
    font-size:  1.5rem;
    font-family: "soft" !important;
}

.content{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.videoframe{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.videoframe>div,.videoframe a{
    color: var(--main);
    text-decoration: none;
    text-align: center;
}

.textframe:nth-child(even){
    padding: 0 1rem 1rem 0;
    width: 100%;
}


.textframe>*{
    margin: auto;
    padding: 1rem;
}

#news a,#news a:visited{
    color: rgb(255, 73, 246);
    text-decoration: none;
}

#news a:hover{
    color: rgb(151, 48, 253);
    transition: all 0.3s ease-in-out;
}

#news p{
    font-size:larger;
}

footer>div{
    background-color: transparent;
    color: var(--main) !important;
    font-weight:bolder;
    font-size: small;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
}

footer{
    display: flex;
    background-color: #1d1d1b;
    color: var(--main) !important;
    font-weight:bolder;
    font-size: small;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    margin: auto;
}